numpy==2.1.1
pandas==2.2.3
PyMySQL==1.1.1
streamlit==1.39.0
google-api-python-client==2.149.0
plotly==5.24.1
matplotlib==3.9.2
streamlit-option-menu==0.4.0
requests==2.32.3
seaborn==0.13.2
animation==0.0.7
pyplot-cli==0.1.1
streamlit-lottie==0.0.5
pycopy-warnings==0.1.4


